<extend name="Base/boot"/>
<block name="header">
    <header class="jumbotron subhead" id="overview">
        <div class="container">
            <h2>发布管理系统</h2>
            <!--<p><span><span class="pull-left"><span>还没有入驻? <a href="{:U('User/register')}">立即入驻</a></span> </span></p>-->
        </div>
    </header>
</block>
<block name="body">
    <div class="row ">
        <div class="col-xs-6 col-lg-3 col-md-4">
            <a class="btn btn-info btn-block fabtn" href="{:U('Temple/add',array('type'=>1))}">
                寺院介绍
            </a>
        </div>
        <div class="col-xs-6 col-lg-3 col-md-4">
            <a class="btn btn-info btn-block fabtn" href="{:U('Master/lists',array('type'=>1))}">
                法师介绍
            </a>
        </div>
        <div class="col-xs-6 col-lg-3 col-md-4">
            <a class="btn btn-info btn-block fabtn" href="{:U('News/add',array('type'=>1))}">
                寺院殿堂
            </a>
        </div>
        <div class="col-xs-6 col-lg-3 col-md-4">
            <a class="btn btn-info btn-block fabtn" href="{:U('News/add',array('type'=>1))}">
                供奉列表
            </a>
        </div>
        <div class="col-xs-6 col-lg-3 col-md-4">
            <a class="btn btn-info btn-block fabtn" href="{:U('News/add',array('type'=>1))}">
                发布新闻
            </a>
        </div>
        <div class="col-xs-6 col-lg-3 col-md-4">
            <a class="btn btn-info btn-block fabtn" href="{:U('News/add',array('type'=>3))}">
                招募义工
            </a>
        </div>
        <div class="col-xs-6 col-lg-3 col-md-4">
            <a class="btn btn-info btn-block fabtn" href="{:U('News/add',array('type'=>4))}">
                寺院活动
            </a>
        </div>
        <div class="col-xs-6 col-lg-3 col-md-4">
            <a class="btn btn-info btn-block fabtn" href="{:U('News/add',array('type'=>2))}">
                修行感悟
            </a>
        </div>
        <div class="col-xs-6 col-lg-3 col-md-4">
            <a class="btn btn-info btn-block fabtn" href="{:U('News/add',array('type'=>5))}">
                公益功德
            </a>
        </div>
        <div class="col-xs-6 col-lg-3 col-md-4">
            <a class="btn btn-info btn-block fabtn" href="{:U('News/add',array('type'=>1))}">
                财务报表
            </a>
        </div>
    </div>
</block>