<ion-view view-title="详情" hide-nav-bar="true">
	<ion-content has-subheader="false">
		  <div class="list card">
            <div class="item">
                <h2>{{bookinfo.title}}</h2>
                <p><span  class="utime">{{bookinfo.update_time*1000|date:"yyyy/MM/dd H:mm"}}</span> <span class="source">来源: {{bookinfo.source}}</span></p>
            </div>
            <div class="item item-body" ng-bind-html="bookinfo.detail.content">

            </div>
        </div>
	</ion-content>
        <div class="bar bar-footer bar-energized">
          <div class="button-bar">
            <a class="button button-clear button-icon iconfont icon-dianzan" ng-click="viewAdd()" ng-disabled="infodis">
                <b style="color:#fcfcfc;font-size: 0.5em;font-weight: 500;">{{infoView}}</b>
            </a>
            <a  class="button button-clear button-icon iconfont icon-shang" ng-click="goPay()">
            </a>
          </div>
        </div>
</ion-view>
