<ion-view view-title="佛声" hide-tabs="false">
<ion-nav-buttons side="right">
    <a class="button button-clear wall-radius playing-ani" ng-click="openModal()" ng-if="isPlay!==0" style="background:url({{xzimg}}) no-repeat center center;width: 30px;height: 30px;">
    </a>
</ion-nav-buttons>
  <ion-content style="overflow-y:hidden;">
<!--     <tab-slide-box tab="0"> -->
<!--       <div class="tsb-icons">
        <div class="tsb-ic-wrp">
          <ion-scroll direction="x" class="tsb-hscroll">
            <div class="row" style="padding: 0;">
              <a  href="javascript:;" class="col">热门</a>
              <a  href="javascript:;" class="col">佛学音乐</a>
              <a  href="javascript:;" class="col">有声佛书</a>
            </div>

          </ion-scroll>
        </div>
      </div> -->
<!--       <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide>
          <ion-nav-view>
            <ion-view>
              <ion-content> -->
                <div class="list list-inset">
<!--                   <div class="row">
                    <a class="col-49 music-r" href="">
                      <img src="Public/Home/App/image/fo/1.jpg" class="music-h"/>
                    </a>
                    <a class="col-49 music-l" href="">
                      <img src="Public/Home/App/image/fo/1.jpg" class="music-h"/>
                    </a>
                  </div> -->
                  <div class="h3-title">
                    <i class="iconfont center icon-xinwen1 title-pr"></i>佛学音乐
                  </div>
                  <div class="row base-items">
                    <a href="#/tab/issuelist/3" class="col col-50">
                      <i class="iconfont center icon-dashi2 fonts"><span>高僧法音</span></i>
                    </a>
                    <a href="#/tab/issuelist/4" class="col col-50">
                      <i class="iconfont center ion-ios-bell fonts "><span>经忏课颂</span></i>
                    </a>
                  </div>
                  <div class="row base-items">
                    <a href="#/tab/issuelist/5" class="col col-50">
                      <i class="iconfont center icon-jingshu fonts"><span>经典念诵</span></i>
                    </a>
                    <a href="#/tab/issuelist/6" class="col col-50">
                      <i class="iconfont center icon-muyu fonts"><span>密咒真言</span></i>
                    </a>
                  </div>
                  <div class="row base-items">
                    <a href="#/tab/issuelist/7" class="col col-50">
                      <i class="iconfont center ion-ios-flower fonts"><span>雪域梵音</span></i>
                    </a>
                    <a href="#/tab/issuelist/8" class="col col-50">
                      <i class="iconfont center icon-gongdeng fonts"><span>一心念佛</span></i>
                    </a>
                  </div>
                 <div class="row base-items">
                    <a href="#/tab/issuelist/9" class="col col-50">
                      <i class="iconfont center ion-ios-musical-notes  fonts"><span>凡歌咏法</span></i>
                    </a>
                    <a href="#/tab/issuelist/10" class="col col-50">
                      <i class="iconfont center icon-xiuxing fonts"><span>古典清音</span></i>
                    </a>
                  </div>

                 <div class="h3-title">
                    <i class="iconfont center icon-xinwen1 title-pr"></i>有声佛书
                  </div>
                  <div class="row base-items">
                    <a href="#/tab/issuelist/13" class="col col-50">
                      <i class="iconfont center icon-jingshu fonts"><span>智悲文库</span></i>
                    </a>
                    <a href="#/tab/issuelist/14" class="col col-50">
                      <i class="iconfont center icon-xiuxing fonts "><span>初级佛书</span></i>
                    </a>
                  </div>
                  <div class="row base-items">
                    <a href="#/tab/issuelist/15" class="col col-50">
                      <i class="iconfont center ion-ios-flower fonts"><span>藏传有声</span></i>
                    </a>
                    <a href="#/tab/issuelist/16" class="col col-50">
                      <i class="iconfont center icon-dashi2 fonts "><span>汉传有声</span></i>
                    </a>
                  </div>
                </div>
                <h5 style="padding: 20px;color: #330000;font-size: 0.8em;">友情提示:由于部分音乐比较大,最好在接入WIFI的情况下聆听</h5>
<!--               </ion-content>
            </ion-view>
          </ion-nav-view>
        </ion-slide>
        <ion-slide>
          音乐
        </ion-slide>
        <ion-slide>
          有声
        </ion-slide>
      </ion-slide-box>
    </tab-slide-box> -->
  </ion-content>
</ion-view>


