
    <!-- 底部
    ================================================== -->
<!--     <footer class="footer">
      <div class="container">
          <p> 本站由 <strong><a href="http://www.onethink.cn" target="_blank">OneThink</a></strong> 强力驱动</p>
      </div>
    </footer> -->
    <footer class="page-footer" style="background-color: #795548;">

    </footer>


    <include file="Public/var"/>
    <block name="script">
        <script type="text/javascript" src="http://pingjs.qq.com/h5/stats.js" name="MTAH5" sid="500145710" ></script>
    </block> <!-- 用于加载js代码 -->
    <!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
    {:hook('pageFooter', 'widget')}
    <div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
        <block name="hidden">

            <script language="javascript" type="text/javascript" src="http://js.users.51.la/17780673.js"></script>
            <noscript><a href="http://www.51.la/?17780673" target="_blank"><img alt="我要啦免费统计" src="http://img.users.51.la/17780673.asp" style="border:none" /></a></noscript>
        </block>
    </div>
