<extend name="Base/common" />
<block name="body">
    <!-- 标签页导航 -->
    <div class="span9 page_message">
        <section id="contents">
            <include file="Addons/_nav" />
            <div class="tab-content">
                <!-- 表单 -->
                <form id="form" action="{:U('lists','isadd='.$isadd.'&model='.$model['id'])}" method="post" class="form-horizontal">
                    <!-- 基础文档模型 -->

                    <volist name="fields" id="field">
                        <if condition="$field['is_show'] == 4">
                            <input type="hidden" class="text input-large" name="{$field.name}" value="{$data[$field['name']]}">
                        </if>
                        <if condition="$field['is_show'] == 1 || $field['is_show'] == 3 || ($field['is_show'] == 5 && I($field['name']) )">
                            <div class="form-item cf">
                                <label class="item-label">{$field['title']}<span class="check-tips">
                      <notempty name="field['remark']">（{$field['remark']}）</notempty>
                      </span></label>
                                <div class="controls">
                                    <switch name="field.type">
                                        <case value="num">
                                            <input type="text" class="text input-medium" name="{$field.name}" value="{$data[$field['name']]}">
                                        </case>
                                        <case value="string">
                                            <input type="text" class="text input-large" name="{$field.name}" value="{$data[$field['name']]}">
                                        </case>
                                        <case value="textarea">
                                            <label class="textarea input-large">
                                                <textarea name="{$field.name}">{$data[$field['name']]}</textarea>
                                            </label>
                                        </case>
                                        <case value="datetime">
                                            <input type="text" name="{$field.name}" class="text input-large time" value="{$data[$field['name']]|time_format}" placeholder="请选择时间" />
                                        </case>
                                        <case value="bool">
                                            <select name="{$field.name}">
                                                <volist name=":parse_field_attr($field['extra'])" id="vo"> <option value="{$key}"
                                                    <eq name="data[$field['name']]" value="$key">selected</eq>
                                                    >{$vo}
                                                    </option>
                                                </volist>
                                            </select>
                                        </case>
                                        <case value="select">
                                            <select name="{$field.name}">
                                                <volist name=":parse_field_attr($field['extra'])" id="vo"> <option value="{$key}"
                                                    <eq name="data[$field['name']]" value="$key">selected</eq>
                                                    >{$vo}
                                                    </option>
                                                </volist>
                                            </select>
                                        </case>
                                        <case value="radio">
                                            <volist name=":parse_field_attr($field['extra'])" id="vo">
                                                <label class="radio"> <input type="radio" value="{$key}" name="{$field.name}"
                                                    <eq name="data[$field['name']]" value="$key">checked="checked"</eq>
                                                    >{$vo} </label>
                                            </volist>
                                        </case>
                                        <case value="checkbox">
                                            <volist name=":parse_field_attr($field['extra'])" id="vo">
                                                <label class="checkbox"> <input type="checkbox" value="{$key}" name="{$field.name}[]"
                                                    <in name="key" value="$data[$field['name']]" >checked="checked"</in>
                                                    >{$vo} </label>
                                            </volist>
                                        </case>
                                        <case value="editor">
                                            <label class="textarea">
                                                <textarea name="{$field.name}">{$data[$field['name']]}</textarea>
                                                {:hook('adminArticleEdit', array('name'=>$field['name'],'value'=>$data[$field['name']]))} </label>
                                        </case>
                                        <default/>
                                        <input type="text" class="text input-large" name="{$field.name}" value="{$data[$field['name']]}">
                                    </switch>
                                </div>
                            </div>
                        </if>
                    </volist>

                    <div class="form-item cf">
                        <input type="hidden" name="id" value="{$data.id}">
                        <button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">保 存</button>
                    </div>
                </form>
                <!-- 预览 -->
                <include file="Addons/weixinPreview" />
            </div>
        </section>
    </div>
    </div>
</block>
<block name="script">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    <php>
        if(C('COLOR_STYLE')=='blue_color') echo '
        <link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
        ';
    </php>
    <link href="__STATIC__/datetimepicker/css/dropdown.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js?v={:SITE_VERSION}"></script>
    <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v={:SITE_VERSION}" charset="UTF-8"></script>
    <script type="text/javascript">
        $('#submit').click(function(){
            $('#form').submit();
        });

        $(function(){
            $('.time').datetimepicker({
                format: 'yyyy-mm-dd hh:ii',
                language:"zh-CN",
                minView:0,
                autoclose:true
            });
            showTab();
        });
    </script>
</block>
