<ion-view view-title="{{bmfinfo.name}}" hide-nav-bar="true">
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-ios-bell" ng-click="openPopover()" >
    客服
    </a>
  </ion-nav-buttons>

  <ion-content >
        <div class="list card" ng-repeat="val in bmlist">

        <div class="item item-body">
          <img src="{{val.imgpath}}" style="width:100%;">
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#" >
            <i class="icon ion-ribbon-b"></i>
            {{val.money_need}} 功德
          </a>
<!--           <a class="tab-item" href="#">
            <i class="icon ion-android-cart"></i>
            加入购物车
          </a> -->
          <a  class="tab-item" ng-click="showcard({{val.id}})">
            <i class="icon ion-bag"></i>
            立即恭请
          </a>
        </div>

      </div>
  </ion-content>
</ion-view>
