
    <!-- 底部
    ================================================== -->
<!--     <footer class="footer">
      <div class="container">
          <p> 本站由 <strong><a href="http://www.onethink.cn" target="_blank">OneThink</a></strong> 强力驱动</p>
      </div>
    </footer> -->
    <footer class="page-footer" style="background-color: #795548;">
        <div class="container">
            <div class="row">
                <div class="col l12 s12 center">
                    <h5 class="white-text"> <a style="color:#FCFCFC;" href="http://zhushou.360.cn/detail/index/soft_id/3137352?recrefer=SE_D_%E5%A4%A9%E5%A4%A9%E4%BD%9B" target="_blank">天天佛安卓手机客户端下载</a> <a style="color:#FCFCFC;" href="https://itunes.apple.com/cn/app/tian-tian-fu/id1057451131?mt=8" target="_blank">天天佛苹果手机客户端下载</a> </h5>
                    <p class="grey-text text-lighten-4">学佛app哪个好？尽在天天佛－－最好用的佛教佛学佛经app下载应用，开启网络学佛修行者新时代</p>
                    <p class="grey-text text-lighten-4">佛学教育性、非赢利性、公益慈善性的佛教文化传媒机构,包含佛学手机，佛学微信，佛APP手机客户端。</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                <a class="grey-text text-lighten-4" href="http://www.zhongfox.com/paper_8.html" style="margin-right:10px;">联系我们</a>
                © 2015 <a class="grey-text text-lighten-4 " href="http://www.tiantianfo.com/">天天佛</a>
                <a class="grey-text text-lighten-4"> 网站备案号: 京ICP备15045336号 北京博中网络科技有限公司</a>
            </div>
        </div>
    </footer>


    <include file="Public/var"/>
    <block name="script">
        <script type="text/javascript" src="http://pingjs.qq.com/h5/stats.js" name="MTAH5" sid="500145710" ></script>
    </block> <!-- 用于加载js代码 -->
    <!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
    {:hook('pageFooter', 'widget')}