<div class="play-position progress-bar progressBar">
  <!--<ul class="fr time" >-->
    <!--<li  ng-click="listPlay()"><a title="列表循环" class="icon ion-ios-infinite"></a></li>-->
    <!--<li ng-click="repeatPlay()"><a title="单曲循环"  class="icon ion-pin"></a></li>-->
  <!--</ul>-->
  <span class="fr time mt-play1 fff" ng-init="playTime='-0.00'">{{allTime}}</span>
  <div id="song-total">
    <div id="song-progress" style="{{surplusWidth}}"></div>
  </div>
  <span class="fl time mt-play fff" ng-init="playTime='-0.00'">{{playTime}}</span>
</div>



