<extend name="Base/webcom"/>
<block name="body">
    <div class="col s12 m7">
        <div class="card">
            <div class="card-panel teal white-text">
                <h2 class="card-title" style="font-size:1.2em;font-weight:blod;">
                   本命佛在线拜佛
                </h2>
            </div>

            <div class="card-content row">
                <div class="row">
                    <div class="col l4 m4 s6 xiangdiv">
                        <a href="{:U('info',array('id'=>1))}" class="waves-effect waves-light btn-large material-icons iconfont icon-shushengxiao xiangBtn">
                        </a>
                    </div>
                    <div class="col l4 m4 s6 xiangdiv">
                        <a href="{:U('info',array('id'=>2))}" class="waves-effect waves-light btn-large material-icons iconfont icon-niushengxiao xiangBtn"></a>
                    </div>
                    <div class="col l4 m4 s6 xiangdiv">
                        <a href="{:U('info',array('id'=>3))}" class="waves-effect waves-light btn-large material-icons iconfont icon-hushengxiao xiangBtn"></a>
                    </div>
                    <div class="col l4 m4 s6 xiangdiv">
                        <a href="{:U('info',array('id'=>4))}" class="waves-effect waves-light btn-large material-icons iconfont icon-tushengxiao xiangBtn"></a>
                    </div>
                    <div class="col l4 m4 s6 xiangdiv">
                        <a href="{:U('info',array('id'=>5))}" class="waves-effect waves-light btn-large material-icons iconfont icon-longshengxiao xiangBtn"></a>
                    </div>
                    <div class="col l4 m4 s6 xiangdiv">
                        <a href="{:U('info',array('id'=>6))}" class="waves-effect waves-light btn-large material-icons iconfont icon-sheshengxiao xiangBtn"></a>
                    </div>
                    <div class="col l4 m4 s6 xiangdiv">
                        <a href="{:U('info',array('id'=>7))}" class="waves-effect waves-light btn-large material-icons iconfont icon-mashengxiao xiangBtn"></a>
                    </div>
                    <div class="col l4 m4 s6 xiangdiv">
                        <a href="{:U('info',array('id'=>8))}" class="waves-effect waves-light btn-large material-icons iconfont icon-yangshengxiao xiangBtn"></a>
                    </div>
                    <div class="col l4 m4 s6 xiangdiv">
                        <a href="{:U('info',array('id'=>9))}" class="waves-effect waves-light btn-large material-icons iconfont icon-houshengxiao xiangBtn  red darken-1" ></a>
                    </div>
                    <div class="col l4 m4 s6 xiangdiv">
                        <a href="{:U('info',array('id'=>10))}" class="waves-effect waves-light btn-large material-icons iconfont icon-jishengxiao xiangBtn"></a>
                    </div>
                    <div class="col l4 m4 s6 xiangdiv">
                        <a href="{:U('info',array('id'=>11))}" class="waves-effect waves-light btn-large material-icons iconfont icon-goushengxiao xiangBtn"></a>
                    </div>
                    <div class="col l4 m4 s6 xiangdiv">
                        <a href="{:U('info',array('id'=>12))}" class="waves-effect waves-light btn-large material-icons iconfont icon-zhushengxiao2 xiangBtn"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>