<extend name="Base/common"/>
<block name="body">
    <div class="section no-pad-bot" id="index-banner" style="height:350px;">
        <div class="container">
            <div class="center" style="padding-top:210px;">
                <a  id="download-button" class="modal-trigger btn-large waves-effect waves-light" onclick="opmodal()">寺院免费入驻</a>
            </div>
        </div>
    </div>
    <div class="container" style="margin:10px auto;">
        <div class="divider"></div>
        <div class="slider" style="height:400px;">
            <ul class="slides">
                <li style="background-image:url('__IMG__/yunduan/a01.jpg');">
                </li>
                <li style="background-image:url('__IMG__/yunduan/a02.jpg');">
                </li>
                <li style="background-image:url('__IMG__/yunduan/a03.jpg');">
                </li>

            </ul>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__IMG__/yunduan/a1.jpg">
                    </div>
                    <div class="card-content">
                        <p>佛寺藏深上，一键天下闻</p>
                    </div>
                    <div class="card-action">
                        <a href="#">云端道场：天下寺庙</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__IMG__/yunduan/a2.jpg">
                    </div>
                    <div class="card-content">
                        <p>寺庙机构，必须实名认证</p>
                    </div>
                    <div class="card-action">
                        <a href="#">云端道场：僧寺庙宇</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__IMG__/yunduan/a3.jpg">
                    </div>
                    <div class="card-content">
                        <p>大德开示，佛心禅语</p>
                    </div>
                    <div class="card-action">
                        <a href="#">云端道场：高师大德</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__IMG__/yunduan/a4.jpg">
                    </div>
                    <div class="card-content">
                        <p>随喜赞叹，随时随地随心</p>
                    </div>
                    <div class="card-action">
                        <a href="#">云端道场：日行一善</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__IMG__/yunduan/a5.jpg">
                    </div>
                    <div class="card-content">
                        <p>在线记录每日修行功德记录</p>
                    </div>
                    <div class="card-action">
                        <a href="#">云端道场：修行统计</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__IMG__/yunduan/a7.jpg">
                    </div>
                    <div class="card-content">
                        <p>众筹结缘、公益法事慈善</p>
                    </div>
                    <div class="card-action">
                        <a href="#">云端道场：佛教众筹 </a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__IMG__/yunduan/a8.jpg">
                    </div>
                    <div class="card-content">
                        <p>主持与佛友微信即时交互</p>
                    </div>
                    <div class="card-action">
                        <a href="#">云端道场：主持开示</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__IMG__/yunduan/a9.jpg">
                    </div>
                    <div class="card-content">
                        <p>传播寺院历史文化</p>
                    </div>
                    <div class="card-action">
                        <a href="#">云端道场：寺庙主页</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal1" class="modal modal-fixed-footer">
        <form>
            <div class="modal-content row">

                <h4>请输入登记信息</h4>

                    <div class="input-field col s6">
                        <i class="material-icons prefix iconfont icon-accountcircle"></i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">寺院名称</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix iconfont icon-phone"></i>
                        <input id="icon_telephone" type="tel" class="validate">
                        <label for="icon_telephone">寺院地址(省,市,县,乡镇)</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix iconfont icon-accountcircle"></i>
                        <input id="icon_prefix" type="text" class="validate">
                        <label for="icon_prefix">联系人名称</label>
                    </div>
                    <div class="input-field col s6">
                        <i class="material-icons prefix iconfont icon-phone"></i>
                        <input id="icon_telephone" type="tel" class="validate">
                        <label for="icon_telephone">手机号</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="checkbox" id="gov" />
                        <label for="gov">是否被国家宗教局收录</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="checkbox" id="zhengshu" />
                        <label for="zhengshu">是否有组织证书</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="checkbox" id="duigong" />
                        <label for="duigong">是否有对公账号</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="checkbox" id="wechat" />
                        <label for="wechat">是否有对微信服务号</label>
                    </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat ">提交</button>
            </div>
        </form>
    </div>

    <script>
        $('.slider').slider({full_width: true});

        function opmodal() {
            $('#modal1').openModal();
        }

    </script>
    <script type='text/javascript'>
        (function(m, ei, q, i, a, j, s) {
            m[a] = m[a] || function() {
                        (m[a].a = m[a].a || []).push(arguments)
                    };
            j = ei.createElement(q),
                    s = ei.getElementsByTagName(q)[0];
            j.async = true;
            j.charset = 'UTF-8';
            j.src = i + '?v=' + new Date().getUTCDate();
            s.parentNode.insertBefore(j, s);
        })(window, document, 'script', '//static.meiqia.com/dist/meiqia.js', '_MEIQIA');
        _MEIQIA('entId', 22322);
    </script>
    <script type="text/javascript">
        var browser = {
            versions: function() {
                var u = navigator.userAgent, app = navigator.appVersion;
                return {//移动终端浏览器版本信息
                    trident: u.indexOf('Trident') > -1, //IE内核
                    presto: u.indexOf('Presto') > -1, //opera内核
                    webKit: u.indexOf('AppleWebKit') > -1, //苹果、谷歌内核
                    gecko: u.indexOf('Gecko') > -1 && u.indexOf('KHTML') == -1, //火狐内核
                    mobile: !!u.match(/AppleWebKit.*Mobile.*/) || !!u.match(/AppleWebKit/), //是否为移动终端
                    ios: !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/), //ios终端
                    android: u.indexOf('Android') > -1 || u.indexOf('Linux') > -1, //android终端或者uc浏览器
                    iPhone: u.indexOf('iPhone') > -1 || u.indexOf('Mac') > -1, //是否为iPhone或者QQHD浏览器
                    iPad: u.indexOf('iPad') > -1, //是否iPad
                    webApp: u.indexOf('Safari') == -1 //是否web应该程序，没有头部与底部
                };
            }(),
            language: (navigator.browserLanguage || navigator.language).toLowerCase()
        }
        function isWeiXin(){
            var ua = window.navigator.userAgent.toLowerCase();
            if(ua.match(/MicroMessenger/i) == 'micromessenger'){
                console.log('src');
                return true;
            }else{
                return false;
            }
        }

        function getApp () {
            if (isWeiXin()) {
                $(".Wx").fadeIn(400);
            }else{
                if (browser.versions.ios || browser.versions.iPhone || browser.versions.iPad) {
                    window.location="https://itunes.apple.com/cn/app/tian-tian-fu/id1057451131?mt=8";
                }else if(browser.versions.android){
                    window.location="http://zhushou.360.cn/detail/index/soft_id/3137352?recrefer=SE_D_%E5%A4%A9%E5%A4%A9%E4%BD%9B";
                }else{
                    window.location="http://zhushou.360.cn/detail/index/soft_id/3137352?recrefer=SE_D_%E5%A4%A9%E5%A4%A9%E4%BD%9B";
                }
            }


        }

        $("#returnTop").click(function () {
            var speed=200;//滑动的速度
            $('body,html').animate({ scrollTop: 0 }, speed);
            return false;
        });
        $(function(){
            $(".Wx").click(function(){
                $(this).fadeOut(400);
            })
        })


    </script>
</block>